.container {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
  height: 100%;
  /*position: absolute;*/
  /*top: 30%;*/
  /*left: 10px;*/
  /*text-align: center;*/
}

.stashPanel {
  flex: 1;
  margin: 0px;
  border-bottom: 1px solid #333;
  color: #A0A0A0;

}

.indexPanel {
  flex: 3;
  margin: 0px;
  background: #1B2B34;
  border-bottom: 1px solid #333;
  color: #A0A0A0;

}

.historyPanel {
  flex: 2;
  margin: 0px;
  background: #1B2B34;
  border-bottom: 1px solid #333;
  color: #A0A0A0;

}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.content {
  padding: 10px;
  font-size: 12px;
}

.content ul {
  margin: 0;
}