.container {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
  height: 100%;
  /*position: absolute;*/
  /*top: 30%;*/
  /*left: 10px;*/
  /*text-align: center;*/
}

.stashPanel {
  margin: 0px;
  border-bottom: 1px solid #333;
  /*color: #A0A0A0;*/


}

.content {
  background: #f6f6f6;
  padding: 10px;
  height: 100vh;
}


.indexPanel {
  flex: 1;
  background: #eeeeee;
  /*border-bottom: 1px solid #333;*/
  /*color: #A0A0A0;*/

}

.historyPanel {
  flex: 2;
  margin: 0px;
  /*background: #1B2B34;*/
  /*border-bottom: 1px solid #333;*/
  /*color: #A0A0A0;*/

}
