.panel {
	margin: 0px;
	/*background: #1B2B34;*/
	background: #eeeeee;

	border-bottom: 1px solid #333;
	/*color: #A0A0A0;*/
}


/*button {
 	background-color: #16232A;
 	color: #6C99BB;
 	font-weight: bold;
 	font-size: 12px;
 	padding: 0.5em;
 	font-family: Arial, Helvetica Neue, Helvetica;
 	border: 0;
}*/


.content {
  /*background: #1B2B34;*/

}

.titleBar {
	padding: 10px;
	display: flex;
	/*background: #16232A;*/
	flex-direction: row;
	align-items: flex-end;
	/*height: 2em;*/
	border-bottom: 1px solid #ccc;

}

.titleBar h2 {
	font-size: 12pt;
	/*margin-top: 5px;*/
	/*font-size: 0.8em;*/
	/*font-weight: bold;*/
/* 	color: #6C99BB; 108, 153, 187*/
	/*text-transform: uppercase;*/
	flex: 1;
}


.titleBar .controls {
	flex: 1;
}