body {
  margin: 0;
  position: relative;
  /*height: 100vh;*/
  font-family: Arial, Helvetica Neue, Helvetica;
  overflow-y: hidden;
}

html, body{ height:100%; margin: 0;}

li {
  list-style: none;
}

div#root {
  height: 100%;
}

div.devWrapper {
  height: 100%;
}

/* bootstrap overrides TODO: move me; */
.checkboxTree .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkboxTree .form-group {
  margin-bottom: 0;
}

.checkboxTree ul {
  margin-bottom: 0;
}

table.table {
  margin-bottom: 0;
}

span.lineNo {
  display: inline-block;
  width: 20px;
  color: #ddd;
}

div.diff p {
  margin-bottom: 0;
  padding-left: 5px;
  white-space: pre;
}

div.diff p.header {
  color: #ddd;
}

div.diff p.new {
  background-color: #e5ffe5;
}

div.diff p.deleted {
  background-color: #ffe5e5;
}