body {
  margin: 0;
  position: relative;
  /*height: 100vh;*/
  font-family: Arial, Helvetica Neue, Helvetica;
  overflow-y: hidden;
}

html, body{ height:100%; margin: 0;}

li {
  list-style: none;
}

div#root {
  height: 100%;
}

div.devWrapper {
  height: 100%;
}

/* bootstrap overrides */
.checkboxTree .checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.checkboxTree .form-group {
  margin-bottom: 0;
}

.checkboxTree ul {
  margin-bottom: 0;
}